# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
.env/

# Environment settings
.env

# Database files
*.db
test.db

# IDE settings
.vscode/
.idea/
